<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload App</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section class="upload-section">
    <h1>Upload An Image</h1>
      <form action="/" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <label for="name">Image Title</label>
          <input type="text" id="name" name="name" value="" placeholder="Title" required>
        </div>
        <div class="input-group">
          <label for="desc">Image Description</label>
          <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required></textarea>
        </div>
        <div class="input-group">
          <label for="image">Select Image</label>
          <input type="file" id="image" name="image" value="" required>
        </div>
        <button type="submit">Submit</button>
      </form>
  </section>
  <hr>
  <section class="gallery-section">
    <h1>Uploaded Images</h1>
    <div class="gallery">
    <% items.forEach(function(image) { %>
    <div class="image-item">
        <img src="data:image/<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>">
        <div>
          <h3><%= image.name %></h3>
          <p><%= image.desc %></p>
        </div>
    </div>
    <% }) %>
    </div>
  </section>
</body>
</html>