<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload App</title>
</head>
<body>
  <h1>Image Upload App</h1>
  <hr>
  <div>
    <form action="/" method="post" enctype="multipart/form-data">
      <div>
        <label for="name">Image Title</label>
        <input type="text" id="name" name="name" value="" placeholder="Title" required>
      </div>
      <br>
      <div>
        <label for="desc">Image Description</label>
        <textarea id="desc" name="desc" value="" rows="2" placeholder="Description" required></textarea>
      </div>
      <br>
      <div>
        <label for="image">Upload Image</label>
        <input type="file" id="image" name="image" value="" required>
      </div>
      <br>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  <hr>
  <h1>Uploaded Images</h1>
  <div>
    <% items.forEach(function(image) { %>
    <div>
      <div>
        <img src="data:image/<%= image.img.contentType %>;base64,<%= image.img.data.toString('base64') %>">
        <div>
          <h5><%= image.name %></h5>
          <p><%= image.desc %></p>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</body>
</html>